<div class="informations">
    <h2 id="info">{{ "Informations pratiques"}}</h2>

    <h3>{{ "Informations générales" }}</h3>
    <ul>
        <li>{{ "Les billets achetés sont nominatifs et uniquement valable le jour sélectionné." }}</li>
        <li>{{ "Les billet sont disponibles à la journée ou à la demi-journée, dans ce cas le musée est accessible à partir de 14 h."}}</li>
    </ul>
    <h3>{{ "Horaires"}}</h3>

    <ul>
        {{ "Le musée est ouvert sans interruption de 9h à 18h."}}
    </ul>


    <h3>{{ "Fermeture"|trans }}</h3>

    <ul>
        {{ "Le musée est fermé tous les mardis, ainsi que les 1er mai, 1er novembre et 25 décembre."}}
    </ul>

    <h3>{{ "Tarifs"}}</h3>

    <ul>
        <li>
            {{ "Tarif normal (plus de 12 ans) : 16 euros"}}
        </li>

        <li>
            {{ "Tarif enfant :"}}<br/>
            {{ "De 4 à 11 ans : 8 euros"}}<br/>
            {{ "Moins de 4 ans : gratuit"}}
        </li>

        <li>
            {{ "Tarif senior (plus de 60 ans) : 12 euros"}}
        </li>

        <li>
            {{ "Tarif réduit : 10 euros"}}<br/>
            {{ "(accordé sous certaines conditions : étudiant, employé de musée, d'un service du Ministère de la culture, militaire... Un justificatif vous sera demandé à l'entrée du musée)"}}
        </li>
    </ul>

</div>